{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "plugin:jest/recommended" // 추가
  ],
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "ignorePatterns": ["node_modules/", "webpack.config.js", "jest.config.ts", "setupTests.ts"], // 추가
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true // 추가
  },
  "rules": { "@typescript-eslint/explicit-module-boundary-types": "off" }
}
